<div class="membershipborder" style="border:2px none #B76E79; border-radius:11px; padding:11px;">
    <div id="membershipstatus2" class="membershipstatus2" style="font-size: .9rem; background: none;"></div>
    <br>
    <div class="membershipgrid">
        <div class="membershipoption" style="grid-area:option-1;">
            Classic Lover $129/month
            <div>
                Your lashes stay fresh without stressing about fill schedules. Enjoy exclusive savings, priority access, and consistent top-tier lash care so your retention stays flawless week after week.
            </div>
        </div>
        <div class="membershipoption" style="grid-area:option-2;">
            Hybrid Babe $149/month
            <div>
                Level up your lash game with soft volume + natural glam. This membership keeps your lashes full, fluffy, and photo-ready at all times — with perks that make every appointment feel VIP.
            </div>
        </div>
        <div class="membershipoption" style="grid-area:option-3;">
            Volume Doll $169/month
            <div>
                This membership is made for the girlies who love a full, dramatic, bold statement lash and want unbeatable retention, savings, and access to premium volume care.
            </div>
        </div>
        <div class="membershipoption" style="grid-area:option-4;">
            VIP Glow-Up $199/month
            <div>
                Get the FULL Faithfully Lashed experience with the highest savings, priority booking, luxury add-ons, and exclusive member-only perks. This is the “I’m HER” membership.
            </div>
        </div>
        <br>
    </div>
</div>
